[submodule "raspberry-datalogger-compose"]
	path = raspberry-datalogger-compose
	url = git@github.com:b00lduck/raspberry-datalogger-compose.git

[submodule "raspberry-datalogger-acquisition"]
        path = gopath/src/github.com/b00lduck/raspberry-datalogger-acquisition
        url = git@github.com:b00lduck/raspberry-datalogger-acquisition.git

[submodule "raspberry-datalogger-dataservice-client"]
        path = gopath/src/github.com/b00lduck/raspberry-datalogger-dataservice-client
        url = git@github.com:b00lduck/raspberry-datalogger-dataservice-client.git

[submodule "raspberry-datalogger-dataservice-server"]
        path = gopath/src/github.com/b00lduck/raspberry-datalogger-dataservice-server
        url = git@github.com:b00lduck/raspberry-datalogger-dataservice-server.git

[submodule "raspberry-datalogger-display"]
        path = gopath/src/github.com/b00lduck/raspberry-datalogger-display
        url = git@github.com:b00lduck/raspberry-datalogger-display.git

[submodule "raspberry-datalogger-serial"]
        path = gopath/src/github.com/b00lduck/raspberry-datalogger-serial
        url = git@github.com:b00lduck/raspberry-datalogger-serial.git

[submodule "gopath/src/github.com/b00lduck/raspberry-datalogger-temperature"]
	path = gopath/src/github.com/b00lduck/raspberry-datalogger-temperature
	url = git@github.com:b00lduck/raspberry-datalogger-temperature.git
[submodule "vcontrold-docker"]
	path = vcontrold-docker
	url = git@github.com:b00lduck/vcontrold-docker.git
[submodule "rpi-golang-1.7"]
	path = rpi-golang-1.7
	url = git@github.com:b00lduck/rpi-golang-1.7.git
[submodule "rpi-influxdb"]
	path = rpi-influxdb
	url = git@github.com:b00lduck/rpi-influxdb.git
[submodule "raspberry-datalogger-influx-migration"]
	path = raspberry-datalogger-influx-migration
	url = git@github.com:b00lduck/raspberry-datalogger-influx-migration.git
